workflows/Integrated PDF Analisys & Redaction Test 05.json
{
  "updatedAt": "2025-05-31T15:18:44.000Z",
  "createdAt": "2025-05-31T14:27:15.307Z",
  "id": "I9jHZxZ9zxH5PG4I",
  "name": "Integrated PDF Analisys & Redaction Test 05",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Tratamiento de formulario RNT",
        "formDescription": "Suba un archivo con la Relación Nominal de Trabajadores (RNT) a procesar, e indique los I.P.F. a preservar, separados por comas.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "Códigos I.P.F. a preservar:",
              "placeholder": "123456789X,987654321Z,123987456Y...",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "sunombre@dominio.xyz"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -80,
        -1680
      ],
      "id": "6ee6fc08-680f-4d45-9eba-14a727df0d21",
      "name": "On form submission",
      "webhookId": "2d307505-5f89-418c-9f18-bd0e71a83ef8"
    },
    {
      "parameters": {
        "jsCode": "let num = $input.first().json.pageCount\nlet pagesNumber = new Array(num);\n  //console.log(pagesArray)\n    for (let i = 0; i <= num-1; i++) {\n        pagesNumber[i] = ( i+1 );\n    }\n  //console.log(pagesArray);\n  return [{\n    pagesNumber\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        -1755
      ],
      "id": "3faf1879-49da-41ba-b9bd-b38165a53c5e",
      "name": "Create page numbers as object array"
    },
    {
      "parameters": {
        "fieldToSplitOut": "pagesNumber",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1460,
        -1755
      ],
      "id": "2d9ece5c-83b0-436a-86d8-6597f61729c8",
      "name": "Split array into individual objects"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1680,
        -1755
      ],
      "id": "01dbcafd-40b9-401f-9ee0-1369def3b06e",
      "name": "Merge pdf file with page number objects"
    },
    {
      "parameters": {
        "outputPrefix": "unzippedFile_"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        2340,
        -1780
      ],
      "id": "6385f343-c100-4334-a28f-87d857a300fb",
      "name": "Unzip CSV files"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirlingPdf:8080/api/v1/convert/pdf/csv",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "pageNumbers",
              "value": "={{ $json.pagesNumber }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        -1780
      ],
      "id": "122309cf-7a94-49b2-a770-040436af37cc",
      "name": "PDF extract table from specific page - to CSV"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3660,
        -1780
      ],
      "id": "02267ce0-c0ed-47c6-8403-e3a6ab85c055",
      "name": "Merge JSON from CSV with array to skip"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirlingPdf:8080/api/v1/analysis/page-count",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "application/pdf"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        -1755
      ],
      "id": "3376890c-2f6f-4df0-b24a-0e07b046ac59",
      "name": "Process PDF and report # of pages"
    },
    {
      "parameters": {
        "jsCode": "let increment = 0;\nlet varSkipNext = 'no';\nlet skipRecord = Array.isArray($('IPF # into array').first().json.ID) ? $('IPF # into array').first().json.ID : [];\n\n// Identify valid rows and mark them with a row number; leave the rest as 0\nfor (const item of $input.all()) {\n\titem.json.myPage = $('Unzip CSV files').first().json.pagesNumber;\n\titem.json.rowPosition = 0;\n\titem.json.skipMe = 'no';\n\tconst trickyHeader = 'Horas\\rCoti.';\n\n\tif (\n\t\titem.json[trickyHeader] == \"BASE DE ACCIDENTES DE TRABAJO\" ||\n\t\t(item.json.NAF !== \"NAF\" && item.json.NAF !== undefined && item.json['Bases y compensaciones'] == \"BASE DE CONTINGENCIAS COMUNES\") ||\n\t\t(item.json.NAF == undefined && item.json['Bases y compensaciones'] == \"BASE DE ACCIDENTES DE TRABAJO\") ||\n\t\t(item.json.NAF == undefined && item.json['Bases y compensaciones'] == \"BASE DE CONTINGENCIAS COMUNES\") ||\n\t\t(item.json[trickyHeader] === undefined && item.json['Bases y compensaciones'] == \"BASE DE ACCIDENTES DE TRABAJO\") ||\n\t\t(item.json.NAF !== \"NAF\" && item.json.NAF !== undefined && item.json['Bases y compensaciones'] === undefined ) ||\n\t\t(item.json['Días Coti.'] == \"BASE DE CONTINGENCIAS COMUNES\") || \n\t\t(item.json['Días Coti.'] == \"BASE DE ACCIDENTES DE TRABAJO\" )\n    ){\n\t\tincrement++;\n\t\titem.json.rowPosition = increment;\n\n\t\tif (varSkipNext == 'yes'){\n\t\t\titem.json.skipMe = 'yes';\n\t\t}\n\t}\n\n\t// loop through IDs comparing with the current record; if there's a match it puts a mark on it\n\tif (item.json['I.P.F.'] !== undefined) {\n\t\tfor (const id of skipRecord) {\n\t\t\tif (item.json['I.P.F.'] === id) {\n\t\t\t\titem.json.skipMe = 'yes';\n\t\t\t\tvarSkipNext = 'yes';\n\t\t\t\tbreak; // Exit once a match is found\n\t\t\t} else {\n\t\t\t\tvarSkipNext = 'no';\n\t\t\t\titem.json.skipMe = 'no'\n\t\t\t}\n\t\t}\n\t} //else {varSkipNext = 'no';}\n}\n\n// Assign totalRecords to all records in one pass\n$input.all().forEach(item => {\n\titem.json.totalRecords = increment;\n});\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3880,
        -1655
      ],
      "id": "4cfdf9a3-965c-4713-89c8-0d47e51af249",
      "name": "Determine records skipping redaction",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1900,
        -1755
      ],
      "id": "9f09c4e2-1cd8-4260-968a-352e5bcb1c23",
      "name": "Loop Over Items - one at a time"
    },
    {
      "parameters": {
        "jsCode": "\n    const myArray = $input.first().json['Códigos I.P.F. a preservar:'];\n    if (typeof myArray !== 'string') return [];\n    var cleanArray = myArray.replace(/\\s*,\\s*/g,\",\")\n    cleanArray=cleanArray.trim()\n    var array = cleanArray.split(',').map(value => value.trim());\n    return [{\n      \"ID\": array\n    }\n  ]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        -1480
      ],
      "id": "1ca60292-7c98-4ed0-996c-90211368c11a",
      "name": "IPF # into array",
      "executeOnce": false
    },
    {
      "parameters": {
        "binaryPropertyName": "unzippedFile_3",
        "options": {
          "encoding": "utf-8",
          "enableBOM": true,
          "headerRow": true,
          "readAsString": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2560,
        -1780
      ],
      "id": "ea16cb0a-905c-4bdf-9f0c-cf0a442ade5b",
      "name": "CSV into JSON"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdf.mandarina.consulting/api/v1/misc/repair",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        -1680
      ],
      "id": "c8a1d2fd-7ad7-4fa1-813c-fe96497ff650",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f64eec14-8a0e-48fe-b3ec-1414214cf261",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "Request processing failed:",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "4ea9fde8-3639-49f3-b9d6-cc1007028360",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "4a7756b0-685a-41bf-9535-6aa2bee9a411",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        360,
        -2030
      ],
      "id": "22e6750e-f662-484c-8650-ac4fff606bc1",
      "name": "If2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirlingPdf:8080/api/v1/filter/filter-contains-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "pageNumbers",
              "value": "all"
            },
            {
              "name": "text",
              "value": "RELACIÓN NOMINAL DE TRABAJADORES"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        -1780
      ],
      "id": "4d10f7f5-9c0a-450f-ad80-3f8b65478684",
      "name": "HTTP Request2",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d4a182e-e848-4bc4-90e3-07a2ea926348",
              "leftValue": "={{ $json.data.size }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "000154ed-adec-4282-8890-432cb13ccb0b",
              "leftValue": "={{ $json.data.size }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        -1780
      ],
      "id": "4e2a622e-536f-470b-a900-551f32508728",
      "name": "If1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Error en pdf",
        "message": "El archivo pdf enviado se encuentra dañado o no se trata de un certificado RNT; por favor, verifique y vuelva a hacer la solicitud.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1020,
        -1980
      ],
      "id": "dd53e7f4-899f-4194-81db-4314c7829d12",
      "name": "Gmail",
      "webhookId": "294c20cb-ee2a-4112-b62f-746143a9a4b8",
      "credentials": {
        "gmailOAuth2": {
          "id": "0NFfPoMyzmHZXN1Y",
          "name": "Nick's Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d62fc146-e46a-49b4-a005-50f99924c5a2",
              "name": "myPage",
              "value": "={{ $json.myPage }}",
              "type": "number"
            },
            {
              "id": "e3496441-c37f-43c4-97a1-cc50a5046fff",
              "name": "rowPosition",
              "value": "={{ $json.rowPosition }}",
              "type": "number"
            },
            {
              "id": "cc5cff15-5d6e-4118-ae9a-37ff63a583f6",
              "name": "skipMe",
              "value": "={{ $json.skipMe }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2340,
        -2005
      ],
      "id": "ef5d735e-f9cf-4059-910f-0da250ea5b7d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2292953a-1279-4232-841e-7b3019e4c7bc",
              "leftValue": "={{ $json.rowPosition }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2120,
        -2005
      ],
      "id": "96baa2e5-547b-4958-8097-680fefb4e8c6",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirlingPdf:8080/api/v1/security/redact",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "pageNumbers"
            },
            {
              "name": "redactions",
              "value": "={{ $json.payload }}"
            },
            {
              "name": "convertPDFToImage",
              "value": "true"
            },
            {
              "name": "pageRedactionColor"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 100000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3880,
        -2080
      ],
      "id": "8933022e-40fd-4a38-b324-94ad2fb8a4ab",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "let originX = 36;\nlet originY = 213;\nlet redactionHeight = 11.25;\nlet redactionWidth =541;\nlet payload = '[';\nlet construct ='';\nlet oldPage = 1;\n\n// Loop through all rows and create a redation object per row to be deleted\nfor (const item of $input.all()) {\n\tlet currentPage = item.json.myPage;\n\tif (currentPage !== oldPage){\n\t\toriginY = 213;\n\t}\n\t\n\toriginY = originY+redactionHeight;\n\n\tif (item.json.skipMe == 'no'){\n\t\tconstruct = '{\"x\":'+originX+',\"y\":'+(originY.toFixed(2)-0.7)+',\"height\":'+redactionHeight+',\"width\":'+redactionWidth+',\"page\":'+item.json.myPage+',\"color\":\"#FFFFFF\"},';\n\t\tpayload = payload + construct;\n\t}\n\n\toldPage = currentPage;\n}\n\tif(payload.charAt(payload.length -1) == ','){\n\tpayload = payload.slice(0, -1);\n\t}\n\tpayload = payload + ']';\n\nreturn [{payload}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3440,
        -2005
      ],
      "id": "6aeaf5de-2981-4cdc-8f3b-b669e11268da",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3660,
        -2080
      ],
      "id": "c0a3851c-fac8-42d7-90e6-51664160d5d3",
      "name": "Merge"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "I.P.F.",
              "newKey": "IPF"
            },
            {
              "currentKey": "C.A.F.",
              "newKey": "CAF"
            },
            {
              "currentKey": "Días\rCoti.",
              "newKey": "DiasCoti"
            },
            {
              "currentKey": "Horas\rCoti.",
              "newKey": "HorasCoti"
            },
            {
              "currentKey": "Bases y compensaciones",
              "newKey": "BasesCompensaciones"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        3140,
        -2520
      ],
      "id": "5bda4756-aef3-439b-acf3-ecd9d2b26d59",
      "name": "Rename Keys",
      "disabled": true
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create page numbers as object array": {
      "main": [
        [
          {
            "node": "Split array into individual objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split array into individual objects": {
      "main": [
        [
          {
            "node": "Merge pdf file with page number objects",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge pdf file with page number objects": {
      "main": [
        [
          {
            "node": "Loop Over Items - one at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unzip CSV files": {
      "main": [
        [
          {
            "node": "CSV into JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF extract table from specific page - to CSV": {
      "main": [
        [
          {
            "node": "Unzip CSV files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge JSON from CSV with array to skip": {
      "main": [
        [
          {
            "node": "Determine records skipping redaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process PDF and report # of pages": {
      "main": [
        [
          {
            "node": "Create page numbers as object array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine records skipping redaction": {
      "main": [
        [
          {
            "node": "Loop Over Items - one at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items - one at a time": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF extract table from specific page - to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IPF # into array": {
      "main": [
        [
          {
            "node": "Merge JSON from CSV with array to skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV into JSON": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge JSON from CSV with array to skip",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge pdf file with page number objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Process PDF and report # of pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "IPF # into array",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ede5b0fa-fcbd-42fe-995f-df5ba583287f",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-05-31T14:27:15.376Z",
      "createdAt": "2025-05-31T14:27:15.376Z",
      "role": "workflow:owner",
      "workflowId": "I9jHZxZ9zxH5PG4I",
      "projectId": "clSSaLQe9S7wj6ik"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-05-18T16:59:50.073Z",
      "createdAt": "2025-05-18T16:59:50.073Z",
      "id": "rIOiUNMDBe4fWbDQ",
      "name": "WIP"
    }
  ]
}