workflows/Integrated PDF Analisys & Redaction Test 04.json
{
  "updatedAt": "2025-06-01T10:55:41.000Z",
  "createdAt": "2025-05-30T21:56:30.418Z",
  "id": "FzBaWrzA4popitYK",
  "name": "Integrated PDF Analisys & Redaction Test 04",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Tratamiento de formulario RNT",
        "formDescription": "Suba un archivo con la Relación Nominal de Trabajadores (RNT) a procesar, e indique los I.P.F. a preservar, separados por comas.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "Códigos I.P.F. a preservar:",
              "placeholder": "123456789X,987654321Z,123987456Y...",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "sunombre@dominio.xyz"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -80,
        -1680
      ],
      "id": "3318512c-4721-4bd7-b918-05c3b1ac922f",
      "name": "On form submission",
      "webhookId": "b44b0b39-8f80-45ed-8975-651d7b0f25e4"
    },
    {
      "parameters": {
        "jsCode": "let num = $input.first().json.pageCount\nlet pagesNumber = new Array(num);\n  //console.log(pagesArray)\n    for (let i = 0; i <= num-1; i++) {\n        pagesNumber[i] = ( i+1 );\n    }\n  //console.log(pagesArray);\n  return [{\n    pagesNumber\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        -1755
      ],
      "id": "53e30789-230d-4150-b1d3-ce41aba7737f",
      "name": "Create page numbers as object array"
    },
    {
      "parameters": {
        "fieldToSplitOut": "pagesNumber",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1460,
        -1755
      ],
      "id": "5fd4f74a-8227-4fa1-b634-38465a9026a4",
      "name": "Split array into individual objects"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1680,
        -1755
      ],
      "id": "63f3143f-8be5-4ed0-aaf8-7a7b38e8403a",
      "name": "Merge pdf file with page number objects"
    },
    {
      "parameters": {
        "outputPrefix": "unzippedFile_"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        2340,
        -1780
      ],
      "id": "681f3521-d387-4a90-ac7c-65aa95f53416",
      "name": "Unzip CSV files"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirlingPdf:8080/api/v1/convert/pdf/csv",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "pageNumbers",
              "value": "={{ $json.pagesNumber }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2120,
        -1780
      ],
      "id": "911dbbda-b2e8-45b9-bab6-54ba7864e9cb",
      "name": "PDF extract table from specific page - to CSV"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2780,
        -1780
      ],
      "id": "46965d41-c14e-43d6-9eb7-c074ed0577c6",
      "name": "Merge JSON from CSV with array to skip"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirlingPdf:8080/api/v1/analysis/page-count",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "application/pdf"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        -1755
      ],
      "id": "b6ff566d-27c9-4884-9a45-8ef297625314",
      "name": "Process PDF and report # of pages"
    },
    {
      "parameters": {
        "jsCode": "var increment = 0;\nvar varSkipNext = 'no';\nvar ipfString = \"\";\nvar skipRecord = Array.isArray($('IPF # into array').first().json.ID) ? $('IPF # into array').first().json.ID : [];\n\n// Identify valid rows and mark them with a row number; leave the rest as 0\nfor (const item of $input.all()) {\n\titem.json.myPage = $('Unzip CSV files').first().json.pagesNumber;\n\titem.json.rowPosition = 0;\n\titem.json.skipMe = 'no';\n\tconst trickyHeader1 = 'Horas\\rCoti.';\n    const trickyHeader2 = 'Días\\rCoti.';\n\t\n\tif (\n\t\titem.json[trickyHeader1] == \"BASE DE ACCIDENTES DE TRABAJO\" ||\n\t\titem.json[trickyHeader2] == \"BASE DE ACCIDENTES DE TRABAJO\" ||\n\t\titem.json[trickyHeader2] == \"BASE DE CONTINGENCIAS COMUNES\" ||\n\t\t(item.json.NAF !== \"NAF\" && item.json.NAF !== undefined && item.json['Bases y compensaciones'] == \"BASE DE CONTINGENCIAS COMUNES\") ||\n\t\t(item.json.NAF == undefined && item.json['Bases y compensaciones'] == \"BASE DE ACCIDENTES DE TRABAJO\") ||\n\t\t(item.json.NAF == undefined && item.json['Bases y compensaciones'] == \"BASE DE CONTINGENCIAS COMUNES\") ||\n\t\t(item.json[trickyHeader1] === undefined && item.json['Bases y compensaciones'] == \"BASE DE ACCIDENTES DE TRABAJO\") ||\n\t\t(item.json.NAF !== \"NAF\" && item.json.NAF !== undefined && item.json['Bases y compensaciones'] === undefined )\n\t\t\n    ){\n\t\tincrement++;\n\t\titem.json.rowPosition = increment;\n\n\t\tif (varSkipNext == 'yes'){\n\t\t\titem.json.skipMe = 'yes';\n\t\t}\n\t}\n\n\t// loop through IDs comparing with the current record; if there's a match, it puts a mark on it\n\tipfString = String(item.json['I.P.F.']);\n\tif (ipfString.length == 11) {\n\t\tfor (const id of skipRecord) {\n\t\t\tif (ipfString === id) {\n\t\t\t\titem.json.skipMe = 'yes';\n\t\t\t\tvarSkipNext = 'yes';\n\t\t\t\tbreak; // Exit once a match is found\n\t\t\t} else {\n\t\t\t\tvarSkipNext = 'no';\n\t\t\t\titem.json.skipMe = 'no'\n\t\t\t}\n\t\t}\n\t} //else {varSkipNext = 'no';}\n}\n\n// Assign totalRecords to all records in one pass\n$input.all().forEach(item => {\n\titem.json.totalRecords = increment;\n});\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        -1655
      ],
      "id": "49962cac-bca3-4dd4-bca2-f62d4aaa4e6f",
      "name": "Determine records skipping redaction",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1900,
        -1755
      ],
      "id": "13855c59-10c9-44a9-b506-cad85e5dd4ce",
      "name": "Loop Over Items - one at a time"
    },
    {
      "parameters": {
        "jsCode": "\n    const myArray = $input.first().json['Códigos I.P.F. a preservar:'];\n    if (typeof myArray !== 'string') return [];\n    var cleanArray = myArray.replace(/\\s*,\\s*/g,\",\")\n    cleanArray=cleanArray.trim()\n    var array = cleanArray.split(',').map(value => value.trim());\n    return [{\n      \"ID\": array\n    }\n  ]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        -1480
      ],
      "id": "2f0a7dc2-d992-48e0-8f65-78bdd18251ab",
      "name": "IPF # into array",
      "executeOnce": false
    },
    {
      "parameters": {
        "binaryPropertyName": "unzippedFile_3",
        "options": {
          "encoding": "utf-8",
          "enableBOM": true,
          "headerRow": true,
          "readAsString": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2560,
        -1780
      ],
      "id": "ce5926b7-8fd0-44a3-a022-12a50f1788bc",
      "name": "CSV into JSON"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdf.mandarina.consulting/api/v1/misc/repair",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        -1680
      ],
      "id": "43a8838d-b06f-4693-9557-985d2f52eceb",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f64eec14-8a0e-48fe-b3ec-1414214cf261",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "Request processing failed:",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "4ea9fde8-3639-49f3-b9d6-cc1007028360",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "4a7756b0-685a-41bf-9535-6aa2bee9a411",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        360,
        -2030
      ],
      "id": "de1097bc-7f6f-401e-b399-1bf764796c30",
      "name": "If2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirlingPdf:8080/api/v1/filter/filter-contains-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "pageNumbers",
              "value": "all"
            },
            {
              "name": "text",
              "value": "RELACIÓN NOMINAL DE TRABAJADORES"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        -1780
      ],
      "id": "024b6662-57cf-4f44-9f85-030d23a376d3",
      "name": "HTTP Request2",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d4a182e-e848-4bc4-90e3-07a2ea926348",
              "leftValue": "={{ $json.data.size }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "000154ed-adec-4282-8890-432cb13ccb0b",
              "leftValue": "={{ $json.data.size }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        -1780
      ],
      "id": "bff77f36-391d-406f-b13b-e372bbefa9f2",
      "name": "If1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json.Email }}",
        "subject": "Error en pdf",
        "message": "El archivo pdf enviado se encuentra dañado o no se trata de un certificado RNT; por favor, verifique y vuelva a hacer la solicitud.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1020,
        -1980
      ],
      "id": "91ccced2-cb5e-4281-84ca-209e0e63986c",
      "name": "Gmail",
      "webhookId": "ea9df0c5-6fd0-4693-be9a-053d6e88752b",
      "credentials": {
        "gmailOAuth2": {
          "id": "0NFfPoMyzmHZXN1Y",
          "name": "Nick's Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d62fc146-e46a-49b4-a005-50f99924c5a2",
              "name": "myPage",
              "value": "={{ $json.myPage }}",
              "type": "number"
            },
            {
              "id": "e3496441-c37f-43c4-97a1-cc50a5046fff",
              "name": "rowPosition",
              "value": "={{ $json.rowPosition }}",
              "type": "number"
            },
            {
              "id": "cc5cff15-5d6e-4118-ae9a-37ff63a583f6",
              "name": "skipMe",
              "value": "={{ $json.skipMe }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2340,
        -2005
      ],
      "id": "e3693102-b7e7-4a70-b3e5-6b7d57647ec8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2292953a-1279-4232-841e-7b3019e4c7bc",
              "leftValue": "={{ $json.rowPosition }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2120,
        -2005
      ],
      "id": "a1127042-01c8-4fdf-8c33-cc9ad3fff333",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirlingPdf:8080/api/v1/security/redact",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "pageNumbers"
            },
            {
              "name": "redactions",
              "value": "={{ $json.payload }}"
            },
            {
              "name": "convertPDFToImage",
              "value": "true"
            },
            {
              "name": "pageRedactionColor"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 100000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3000,
        -2080
      ],
      "id": "850a24e6-5aeb-4b9e-831d-dfba76c51da5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "let originX = 36;\nlet originY = 213;\nlet redactionHeight = 11.25;\nlet redactionWidth =541;\nlet payload = '[';\nlet construct ='';\nlet oldPage = 1;\n\n// Loop through all rows and create a redation object per row to be deleted\nfor (const item of $input.all()) {\n\tlet currentPage = item.json.myPage;\n\tif (currentPage !== oldPage){\n\t\toriginY = 213;\n\t}\n\t\n\toriginY = originY+redactionHeight;\n\n\tif (item.json.skipMe == 'no'){\n\t\tconstruct = '{\"x\":'+originX+',\"y\":'+(originY.toFixed(2)-0.7)+',\"height\":'+redactionHeight+',\"width\":'+redactionWidth+',\"page\":'+item.json.myPage+',\"color\":\"#FFFFFF\"},';\n\t\tpayload = payload + construct;\n\t}\n\n\toldPage = currentPage;\n}\n\tif(payload.charAt(payload.length -1) == ','){\n\tpayload = payload.slice(0, -1);\n\t}\n\tpayload = payload + ']';\n\nreturn [{payload}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        -2005
      ],
      "id": "92fc6b2d-b002-421f-a806-a53414b3135f",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2780,
        -2080
      ],
      "id": "42dcda8b-d4e1-4e1e-9864-a83df28bee27",
      "name": "Merge"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create page numbers as object array": {
      "main": [
        [
          {
            "node": "Split array into individual objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split array into individual objects": {
      "main": [
        [
          {
            "node": "Merge pdf file with page number objects",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge pdf file with page number objects": {
      "main": [
        [
          {
            "node": "Loop Over Items - one at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unzip CSV files": {
      "main": [
        [
          {
            "node": "CSV into JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF extract table from specific page - to CSV": {
      "main": [
        [
          {
            "node": "Unzip CSV files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge JSON from CSV with array to skip": {
      "main": [
        [
          {
            "node": "Determine records skipping redaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process PDF and report # of pages": {
      "main": [
        [
          {
            "node": "Create page numbers as object array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine records skipping redaction": {
      "main": [
        [
          {
            "node": "Loop Over Items - one at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items - one at a time": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF extract table from specific page - to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IPF # into array": {
      "main": [
        [
          {
            "node": "Merge JSON from CSV with array to skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV into JSON": {
      "main": [
        [
          {
            "node": "Merge JSON from CSV with array to skip",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge pdf file with page number objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Process PDF and report # of pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "IPF # into array",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fcac8f5b-704c-4132-b7b8-c83c4632e19c",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-05-30T21:56:30.689Z",
      "createdAt": "2025-05-30T21:56:30.689Z",
      "role": "workflow:owner",
      "workflowId": "FzBaWrzA4popitYK",
      "projectId": "clSSaLQe9S7wj6ik"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-05-18T16:58:53.843Z",
      "createdAt": "2025-05-18T16:58:53.843Z",
      "id": "HnXUnfowm5GUgmjE",
      "name": "DEPRECATED"
    }
  ]
}