workflows/Integrated PDF Analisys & Redaction Test 07.json
{
  "updatedAt": "2025-06-02T05:58:31.000Z",
  "createdAt": "2025-06-01T10:26:06.765Z",
  "id": "2B7xQgQCiAONUq5Q",
  "name": "Integrated PDF Analisys & Redaction Test 07",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Tratamiento de formulario RNT",
        "formDescription": "Suba un archivo con la Relación Nominal de Trabajadores (RNT) a procesar, e indique los I.P.F. a preservar, separados por comas.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "Códigos I.P.F. a preservar:",
              "placeholder": "123456789X,987654321Z,123987456Y...",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "sunombre@dominio.xyz",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -80,
        -1870
      ],
      "id": "49a888ae-e4f8-429c-87d4-1f8e1bdaf856",
      "name": "On form submission",
      "webhookId": "02b00c80-2434-4982-b215-93ebfb083c44"
    },
    {
      "parameters": {
        "jsCode": "let num = $input.first().json.pageCount\nlet pagesNumber = new Array(num);\n  //console.log(pagesArray)\n    for (let i = 0; i <= num-1; i++) {\n        pagesNumber[i] = ( i+1 );\n    }\n  //console.log(pagesArray);\n  return [{\n    pagesNumber\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        -1120
      ],
      "id": "7b8efa7f-bfc6-4bf1-923e-a93619c23e0a",
      "name": "Create page numbers as object array"
    },
    {
      "parameters": {
        "fieldToSplitOut": "pagesNumber",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1680,
        -1120
      ],
      "id": "43dbeff3-4b42-40d7-8c17-a515ac8dcf51",
      "name": "Split array into individual objects"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1900,
        -1595
      ],
      "id": "5e6d731f-4c86-43d7-a81f-b713d6d0058d",
      "name": "Merge pdf file with page number objects"
    },
    {
      "parameters": {
        "outputPrefix": "unzippedFile_"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        2560,
        -1570
      ],
      "id": "34fcd425-10c7-41db-b338-aa817e1dc5bd",
      "name": "Unzip CSV files"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirlingPdf:8080/api/v1/convert/pdf/csv",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "pageNumbers",
              "value": "={{ $json.pagesNumber }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2340,
        -1570
      ],
      "id": "ee0f839c-6ddf-4dc6-a5ef-dbfe48768f91",
      "name": "PDF extract table from specific page - to CSV"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3000,
        -1570
      ],
      "id": "a1d40649-79e6-4cb4-86bb-052c5efb696e",
      "name": "Merge JSON from CSV with array to skip"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirlingPdf:8080/api/v1/analysis/page-count",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "application/pdf"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1240,
        -1120
      ],
      "id": "a85cc233-d7fe-4bf6-8648-fb1c0532ae2b",
      "name": "Process PDF and report # of pages"
    },
    {
      "parameters": {
        "jsCode": "var increment = 0;\nvar varSkipNext = 'no';\nvar ipfString = \"\";\nvar skipRecord = Array.isArray($('IPF # into array').first().json.ID) ? $('IPF # into array').first().json.ID : [];\n\n// Identify valid rows and mark them with a row number; leave the rest as 0\nfor (const item of $input.all()) {\n\titem.json.myPage = $('Unzip CSV files').first().json.pagesNumber;\n\titem.json.rowPosition = 0;\n\titem.json.skipMe = 'no';\n\tconst trickyHeader1 = 'Horas\\rCoti.';\n    const trickyHeader2 = 'Días\\rCoti.';\n\t\n\tif (\n\t\titem.json[trickyHeader1] == \"BASE DE ACCIDENTES DE TRABAJO\" ||\n\t\titem.json[trickyHeader2] == \"BASE DE ACCIDENTES DE TRABAJO\" ||\n\t\titem.json[trickyHeader2] == \"BASE DE CONTINGENCIAS COMUNES\" ||\n\t\t(item.json.NAF !== \"NAF\" && item.json.NAF !== undefined && item.json['Bases y compensaciones'] == \"BASE DE CONTINGENCIAS COMUNES\") ||\n\t\t(item.json.NAF == undefined && item.json['Bases y compensaciones'] == \"BASE DE ACCIDENTES DE TRABAJO\") ||\n\t\t(item.json.NAF == undefined && item.json['Bases y compensaciones'] == \"BASE DE CONTINGENCIAS COMUNES\") ||\n\t\t(item.json[trickyHeader1] === undefined && item.json['Bases y compensaciones'] == \"BASE DE ACCIDENTES DE TRABAJO\") ||\n\t\t(item.json.NAF !== \"NAF\" && item.json.NAF !== undefined && item.json['Bases y compensaciones'] === undefined )\n\t\t\n    ){\n\t\tincrement++;\n\t\titem.json.rowPosition = increment;\n\n\t\tif (varSkipNext == 'yes'){\n\t\t\titem.json.skipMe = 'yes';\n\t\t}\n\t}\n\n\t// loop through IDs comparing with the current record; if there's a match, it puts a mark on it\n\tipfString = String(item.json['I.P.F.']);\n\tif (ipfString.length == 11) {\n\t\tfor (const id of skipRecord) {\n\t\t\tif (ipfString === id) {\n\t\t\t\titem.json.skipMe = 'yes';\n\t\t\t\tvarSkipNext = 'yes';\n\t\t\t\tbreak; // Exit once a match is found\n\t\t\t} else {\n\t\t\t\tvarSkipNext = 'no';\n\t\t\t\titem.json.skipMe = 'no'\n\t\t\t}\n\t\t}\n\t} //else {varSkipNext = 'no';}\n}\n\n// Assign totalRecords to all records in one pass\n$input.all().forEach(item => {\n\titem.json.totalRecords = increment;\n});\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3220,
        -1495
      ],
      "id": "fccfe4bc-3b72-4dd7-8f42-dc1d51dd8de1",
      "name": "Determine records skipping redaction",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2120,
        -1595
      ],
      "id": "acfde3e9-6320-4c4d-9276-0492186a37e1",
      "name": "Loop Over Items - one at a time"
    },
    {
      "parameters": {
        "jsCode": "\n    const myArray = $input.first().json['Códigos I.P.F. a preservar:'];\n    if (typeof myArray !== 'string') return [];\n    var cleanArray = myArray.replace(/\\s*,\\s*/g,\",\")\n    cleanArray=cleanArray.trim()\n    var array = cleanArray.split(',').map(value => value.trim());\n    return [{\n      \"ID\": array\n    }\n  ]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2780,
        -1270
      ],
      "id": "34ff1e81-6c62-4fc1-a081-bd41c617bf43",
      "name": "IPF # into array",
      "executeOnce": false
    },
    {
      "parameters": {
        "binaryPropertyName": "unzippedFile_3",
        "options": {
          "encoding": "utf-8",
          "enableBOM": true,
          "headerRow": true,
          "readAsString": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2780,
        -1570
      ],
      "id": "addc4eb6-6ee3-46ce-aab7-968d782d9f8a",
      "name": "CSV into JSON"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdf.mandarina.consulting/api/v1/misc/repair",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        -1595
      ],
      "id": "d3c2a2b5-7574-428a-94e1-788b0c3ea685",
      "name": "HTTP Request1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f64eec14-8a0e-48fe-b3ec-1414214cf261",
              "leftValue": "={{ $json.error.message }}",
              "rightValue": "Request processing failed:",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "4ea9fde8-3639-49f3-b9d6-cc1007028360",
              "leftValue": "={{ $json.error.status }}",
              "rightValue": 500,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "4a7756b0-685a-41bf-9535-6aa2bee9a411",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1020,
        -1595
      ],
      "id": "6afc2f9d-c9ab-4cbe-bf34-07249af4048c",
      "name": "If2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1d4a182e-e848-4bc4-90e3-07a2ea926348",
              "leftValue": "={{ $json.Metadata.Title }}",
              "rightValue": "RNT.rpt",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "cb85c0aa-3e10-4a39-b5cc-4309fb312542",
              "leftValue": "={{ $json.Metadata.Producer }}",
              "rightValue": "Powered By Business Objects",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        360,
        -2120
      ],
      "id": "bc07bc35-e295-466a-9b68-1e9b53813ab8",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d62fc146-e46a-49b4-a005-50f99924c5a2",
              "name": "myPage",
              "value": "={{ $json.myPage }}",
              "type": "number"
            },
            {
              "id": "e3496441-c37f-43c4-97a1-cc50a5046fff",
              "name": "rowPosition",
              "value": "={{ $json.rowPosition }}",
              "type": "number"
            },
            {
              "id": "cc5cff15-5d6e-4118-ae9a-37ff63a583f6",
              "name": "skipMe",
              "value": "={{ $json.skipMe }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2560,
        -1770
      ],
      "id": "6f4b0113-20c6-4609-8080-03ba1ac09b41",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2292953a-1279-4232-841e-7b3019e4c7bc",
              "leftValue": "={{ $json.rowPosition }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2340,
        -1770
      ],
      "id": "9bff2a66-947f-4fde-839c-553b5772b058",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirlingPdf:8080/api/v1/security/redact",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "pageNumbers"
            },
            {
              "name": "redactions",
              "value": "={{ $json.payload }}"
            },
            {
              "name": "convertPDFToImage",
              "value": "true"
            },
            {
              "name": "pageRedactionColor"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 100000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3220,
        -1845
      ],
      "id": "8e6fcf8b-6d11-4edf-a14d-cf6f2f816f80",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "let originX = 36;\nlet originY = 213;\nlet redactionHeight = 11.25;\nlet redactionWidth =541;\nlet payload = '[';\nlet construct ='';\nlet oldPage = 1;\n\n// Loop through all rows and create a redation object per row to be deleted\nfor (const item of $input.all()) {\n\tlet currentPage = item.json.myPage;\n\tif (currentPage !== oldPage){\n\t\toriginY = 213;\n\t}\n\t\n\toriginY = originY+redactionHeight;\n\n\tif (item.json.skipMe == 'no'){\n\t\tconstruct = '{\"x\":'+originX+',\"y\":'+(originY.toFixed(2)-0.7)+',\"height\":'+redactionHeight+',\"width\":'+redactionWidth+',\"page\":'+item.json.myPage+',\"color\":\"#FFFFFF\"},';\n\t\tpayload = payload + construct;\n\t}\n\n\toldPage = currentPage;\n}\n\tif(payload.charAt(payload.length -1) == ','){\n\tpayload = payload.slice(0, -1);\n\t}\n\tpayload = payload + ']';\n\nreturn [{payload}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2780,
        -1770
      ],
      "id": "6b025cad-8725-406a-a74b-236c2a27158a",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3000,
        -1845
      ],
      "id": "e44bd494-4851-4214-b5ec-d44789e4e38e",
      "name": "Merge"
    },
    {
      "parameters": {
        "fromEmail": "noreply@mandarina.consulting",
        "toEmail": "={{ $('On form submission').item.json.Email }}",
        "subject": "Error en pdf",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n<title>Simple Email Template</title>\n</head>\n<body>\n\n<h2>Estimado {{ $('On form submission').item.json.Email }},</h2>\n<p>\nEl archivo enviado para su tratamiento ha presentado <b>errores irrecuperables</b>; puede que se encuentre dañado internamente y no haya sido posible su recuperación por nuestro sistema, que no se trate de un certificado RNT emitido por la Seguridad Social, o que haya sido manipulado de forma insegura.\n<p>\nPor favor, verifique el archivo, asegúrese de que es legible y se trata del archivo correcto, y efectúe nuevamente la solicitud.\n<p>\nGracias por utilizar nuestro servicio; reciba un saludo,\n<p>\nEl equipo de Mandarina Consulting.-\n</p>\n<small><i>Por favor, no responda a este correo; esta dirección es solo de envío y no recibe correo entrante. Si desea realizar cualquier consulta, por favor diríjase a <a href=\"mailto://info@mandarina.consulting\">info@mandarina.consulting</a>.</i> </small>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1240,
        -2120
      ],
      "id": "3a9152d9-401e-49c7-9548-a29e0c5c8bcc",
      "name": "Send Email",
      "webhookId": "169bccb1-620c-4262-899c-e3315574d717",
      "credentials": {
        "smtp": {
          "id": "K0Q2aFUTGvrQQamB",
          "name": "noreply@mandarina.consulting SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "noreply@mandarina.consulting",
        "toEmail": "={{ $('On form submission').item.json.Email }}",
        "subject": "Formulario RNT tratado adjunto",
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n<title>Simple Email Template</title>\n</head>\n<body>\n\n<h2>Estimado {{ $('On form submission').item.json.Email }},</h2>\n<p>\nEl archivo RNT que nos hizo llegar ha sido tratado de forma que los datos de los trabajadores especificados se han mantenido visibles, mientras que los demás han sido ocultados de forma segura, en cumplimiento con las normas GDPR de transmisión mínima de datos personales entre partes.\n<p>\nEl proceso ha incluido, adicionalmente, la comprobación y reparación del pdf, en caso de detectar problemas, para asegurar así su lectura por el destinatario de la información, así como la preservación de metadatos de autoría del documento para asegurar el origen y autenticidad del mismo.\n<p>\nGracias por utilizar nuestro servicio; reciba un saludo,\n<p>\nEl equipo de Mandarina Consulting.-\n</p>\n<small><i>Por favor, no responda a este correo; esta dirección es solo de envío y no recibe correo entrante. Si desea realizar cualquier consulta, por favor diríjase a <a href=\"mailto://info@mandarina.consulting\">info@mandarina.consulting</a>.</i> </small>\n</body>\n</html>\n",
        "options": {
          "appendAttribution": false,
          "attachments": "data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        4320,
        -1845
      ],
      "id": "facb36f0-bace-4f20-8970-8b1b61a8410d",
      "name": "Send Email1",
      "webhookId": "424ae671-7b4a-4c5c-a361-712f9f8a3dae",
      "credentials": {
        "smtp": {
          "id": "K0Q2aFUTGvrQQamB",
          "name": "noreply@mandarina.consulting SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdf.mandarina.consulting/api/v1/misc/add-stamp",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "position",
              "value": "7"
            },
            {
              "name": "opacity",
              "value": "1"
            },
            {
              "name": "overrideX",
              "value": "-1"
            },
            {
              "name": "overrideY",
              "value": "-1"
            },
            {
              "name": "fontSize",
              "value": "6"
            },
            {
              "name": "stampText",
              "value": "Porciones de este documento han sido ocultadas de forma automatizada y segura, con el fin de mostrar únicamente información relevante para la preservación de la confidencialidad, de acuerdo con normas LGPD/GDPR- Procesado por Mandarina Consulting 2025"
            },
            {
              "name": "customColor",
              "value": "#cccccc"
            },
            {
              "name": "alphabet",
              "value": "roman"
            },
            {
              "name": "pageNumbers",
              "value": "all"
            },
            {
              "name": "stampType",
              "value": "text"
            },
            {
              "name": "rotation",
              "value": "90"
            },
            {
              "name": "customMargin",
              "value": "medium"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 100000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3440,
        -1845
      ],
      "id": "98d7f4be-a54b-4a84-ad32-7685b9e3bf24",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdf.mandarina.consulting/api/v1/security/get-info-on-pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        140,
        -2120
      ],
      "id": "3d0615b9-804e-4308-aaab-7100ec3d2bf7",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        580,
        -1595
      ],
      "id": "d4295761-02eb-4e44-abc9-9d909c781da8",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38799a13-5b51-4ab0-a54f-f083234dc5a4",
              "name": "Metadata.Title",
              "value": "={{ $('HTTP Request4').item.json.Metadata.Title }}",
              "type": "string"
            },
            {
              "id": "5186562a-23f8-4629-80bc-078cff3e31c5",
              "name": "Metadata.Author",
              "value": "={{ $('HTTP Request4').item.json.Metadata.Author }}",
              "type": "string"
            },
            {
              "id": "f6b90e15-81a7-4932-a1c2-557252a6db93",
              "name": "Metadata.Subject",
              "value": "={{ $('HTTP Request4').item.json.Metadata.Subject }}",
              "type": "string"
            },
            {
              "id": "a3f7f01b-c4e4-41da-9831-a6fda09c3452",
              "name": "Metadata.Keywords",
              "value": "={{ $('HTTP Request4').item.json.Metadata.Keywords }}",
              "type": "string"
            },
            {
              "id": "fc4f0be0-b771-4f1a-915b-bbd05b8a0bd8",
              "name": "Metadata.Producer",
              "value": "={{ $('HTTP Request4').item.json.Metadata.Producer }}",
              "type": "string"
            },
            {
              "id": "81a67d42-9419-4ae3-a7af-4a74d0dc84de",
              "name": "Metadata.Creator",
              "value": "={{ $('HTTP Request4').item.json.Metadata.Creator }}",
              "type": "string"
            },
            {
              "id": "d469e7f9-4ffe-4458-b546-2d8ebd6ad9cc",
              "name": "Metadata.CreationDate",
              "value": "={{ $('HTTP Request4').item.json.Metadata.CreationDate }}",
              "type": "string"
            },
            {
              "id": "d312a51e-1e6c-4fc7-9d20-90ae93f9a9b1",
              "name": "Metadata.ModificationDate",
              "value": "={{ $('HTTP Request4').item.json.Metadata.ModificationDate }}",
              "type": "string"
            },
            {
              "id": "8d40a3ed-ff88-4f74-9f54-f9fe913da1cc",
              "name": "DocumentInfo.Trapped",
              "value": "={{ $('HTTP Request4').item.json.DocumentInfo.Trapped }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3660,
        -1920
      ],
      "id": "f14254a5-8f93-4da9-8e22-8caf0d62abac",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3880,
        -1845
      ],
      "id": "a191e034-b61e-49c2-b4d7-0f1b1d05de8d",
      "name": "Merge2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pdf.mandarina.consulting/api/v1/misc/update-metadata",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "trapped",
              "value": "={{ $json.DocumentInfo.Trapped }}"
            },
            {
              "name": "modificationDate",
              "value": "={{ $json.Metadata.ModificationDate }}"
            },
            {
              "name": "keywords",
              "value": "={{ $json.Metadata.Keywords }}"
            },
            {
              "name": "author",
              "value": "={{ $json.Metadata.Author }}"
            },
            {
              "name": "creator",
              "value": "={{ $json.Metadata.Creator }}"
            },
            {
              "name": "subject",
              "value": "={{ $json.Metadata.Subject }}"
            },
            {
              "name": "creationDate",
              "value": "={{ $json.Metadata.CreationDate }}"
            },
            {
              "name": "producer",
              "value": "={{ $json.Metadata.Producer }}"
            },
            {
              "name": "allRequestParams",
              "value": "{\"NothingToSeeHere\":0}"
            },
            {
              "name": "deleteAll",
              "value": "false"
            },
            {
              "name": "title",
              "value": "={{ $json.Metadata.Title }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4100,
        -1845
      ],
      "id": "30b0ff57-791c-49d5-9db8-53c1b14b44ca",
      "name": "HTTP Request5"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create page numbers as object array": {
      "main": [
        [
          {
            "node": "Split array into individual objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split array into individual objects": {
      "main": [
        [
          {
            "node": "Merge pdf file with page number objects",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge pdf file with page number objects": {
      "main": [
        [
          {
            "node": "Loop Over Items - one at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unzip CSV files": {
      "main": [
        [
          {
            "node": "CSV into JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF extract table from specific page - to CSV": {
      "main": [
        [
          {
            "node": "Unzip CSV files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge JSON from CSV with array to skip": {
      "main": [
        [
          {
            "node": "Determine records skipping redaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process PDF and report # of pages": {
      "main": [
        [
          {
            "node": "Create page numbers as object array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine records skipping redaction": {
      "main": [
        [
          {
            "node": "Loop Over Items - one at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items - one at a time": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF extract table from specific page - to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IPF # into array": {
      "main": [
        [
          {
            "node": "Merge JSON from CSV with array to skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV into JSON": {
      "main": [
        [
          {
            "node": "Merge JSON from CSV with array to skip",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "IPF # into array",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge pdf file with page number objects",
            "type": "main",
            "index": 0
          },
          {
            "node": "Process PDF and report # of pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Send Email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f57ef5b9-4615-4f3e-8120-36c808e7f7e7",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-06-01T10:26:06.816Z",
      "createdAt": "2025-06-01T10:26:06.816Z",
      "role": "workflow:owner",
      "workflowId": "2B7xQgQCiAONUq5Q",
      "projectId": "clSSaLQe9S7wj6ik"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-06-01T11:16:47.081Z",
      "createdAt": "2025-06-01T11:16:47.081Z",
      "id": "Zv042obHfj5sli8V",
      "name": "UNSTABLE"
    },
    {
      "updatedAt": "2025-05-18T16:59:50.073Z",
      "createdAt": "2025-05-18T16:59:50.073Z",
      "id": "rIOiUNMDBe4fWbDQ",
      "name": "WIP"
    }
  ]
}