workflows/PDF Analisys & Redaction Test 03.json
{
  "updatedAt": "2025-05-25T20:23:14.000Z",
  "createdAt": "2025-05-18T21:49:23.606Z",
  "id": "F3h0zEsnhM6G5XmQ",
  "name": "PDF Analisys & Redaction Test 03",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "Tratamiento de formulario RNT",
        "formDescription": "Suba un archivo con la Relación Nominal de Trabajadores (RNT) a procesar, e indique los I.P.F. a preservar, separados por comas.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "data",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf",
              "requiredField": true
            },
            {
              "fieldLabel": "Códigos I.P.F. a preservar:",
              "placeholder": "123456789X,987654321Z,123987456Y...",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -60,
        -900
      ],
      "id": "dfa34bf3-c511-4122-b490-84be87904e56",
      "name": "On form submission",
      "webhookId": "0a359d6e-7b6d-4350-9680-81e032abc8e2"
    },
    {
      "parameters": {
        "jsCode": "let num = $input.first().json.pageCount\nlet pagesNumber = new Array(num);\n  //console.log(pagesArray)\n    for (let i = 0; i <= num-1; i++) {\n        pagesNumber[i] = ( i+1 );\n    }\n  //console.log(pagesArray);\n  return [{\n    pagesNumber\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        -750
      ],
      "id": "a4e41f7d-e714-43ca-9013-6e03dce2bf75",
      "name": "Create page numbers as object array"
    },
    {
      "parameters": {
        "fieldToSplitOut": "pagesNumber",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        600,
        -750
      ],
      "id": "9d607f5e-e075-46b7-a05f-3e72392d0d63",
      "name": "Split array into individual objects"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        820,
        -825
      ],
      "id": "c38f17d7-1d50-46f5-b66c-0284488b6999",
      "name": "Merge pdf file with page number objects"
    },
    {
      "parameters": {
        "outputPrefix": "unzippedFile_"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        1480,
        -1200
      ],
      "id": "99a2e4ea-7497-4d9e-94c0-2117a7699b71",
      "name": "Unzip CSV files"
    },
    {
      "parameters": {
        "binaryPropertyName": "unzippedFile_3",
        "options": {
          "headerRow": true,
          "includeEmptyCells": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1700,
        -1125
      ],
      "id": "27bbb0df-1504-4337-a35f-8f220f33edb0",
      "name": "Extract relevant CSVs and turn into json"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirlingPdf:8080/api/v1/convert/pdf/csv",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "pageNumbers",
              "value": "={{ $json.pagesNumber }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1260,
        -1200
      ],
      "id": "66e1b7f9-9349-4070-81b4-2bbbc5d393fc",
      "name": "PDF extract table from specific page - to CSV"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1260,
        -1400
      ],
      "id": "fb6773b9-13b6-4e6a-9ab2-afa64aa0382a",
      "name": "Store Result"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        600,
        -1225
      ],
      "id": "c6c32c7c-2f90-4cf4-b841-a0071fd0546a",
      "name": "Merge JSON from CSV with array to skip"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirlingPdf:8080/api/v1/analysis/page-count",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "type",
              "value": "application/pdf"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -750
      ],
      "id": "dd2bf7ce-4199-455d-a82b-5498eafff3a3",
      "name": "Process PDF and report # of pages"
    },
    {
      "parameters": {
        "jsCode": "let increment = 0;\nlet skipRecord = Array.isArray($('IPF # into array').first().json.ID) ? $('IPF # into array').first().json.ID : [];\n\nfor (const item of $input.all()) {   \n    item.json.skipMe = 'no';\n\n    // Determine row number of valid record, and commit to table\n    if (item.json.NAF !== \"NAF\" && item.json.NAF !== \"\" && item.json['Bases y compensaciones'] !== undefined) {\n        increment++;\n        item.json.rowPosition = increment;\n        item.json.myPage = $('Unzip CSV files').first().json.pagesNumber;\n    } else {\n        item.json.rowPosition = 0;\n        item.json.myPage = $('Unzip CSV files').first().json.pagesNumber;\n    }\n\n    // loop through IDs comparing with the current record; if there's a match it puts a mark on it\n    if (item.json['I.P.F.']) {\n        for (const id of skipRecord) {\n            if (item.json['I.P.F.'] === id) {\n                item.json.skipMe = 'yes';\n                break;  // Exit once a match is found\n            }\n        }\n    }\n}\n\n// Assign totalRecords to all records in one pass\n$input.all().forEach(item => {\n    item.json.totalRecords = increment;\n});\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        -1300
      ],
      "id": "e5c909c2-f5dd-447f-9898-c3118a4064ee",
      "name": "Determine records skipping redaction",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        -1300
      ],
      "id": "5891d933-1ece-45cd-a71d-6bcfda1b25b2",
      "name": "Loop Over Items - one at a time"
    },
    {
      "parameters": {
        "jsCode": "\n    const myArray = $input.first().json['Códigos I.P.F. a preservar:'];\n    if (typeof myArray !== 'string') return [];\n    var cleanArray = myArray.replace(/\\s*,\\s*/g,\",\")\n    cleanArray=cleanArray.trim()\n    var array = cleanArray.split(',').map(value => value.trim());\n    return [{\n      \"ID\": array\n    }\n  ]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        -1225
      ],
      "id": "a14fda42-be35-403f-ad15-4bef8d7e7220",
      "name": "IPF # into array",
      "executeOnce": false
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Process PDF and report # of pages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge pdf file with page number objects",
            "type": "main",
            "index": 0
          },
          {
            "node": "IPF # into array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create page numbers as object array": {
      "main": [
        [
          {
            "node": "Split array into individual objects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split array into individual objects": {
      "main": [
        [
          {
            "node": "Merge pdf file with page number objects",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge pdf file with page number objects": {
      "main": [
        [
          {
            "node": "Loop Over Items - one at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unzip CSV files": {
      "main": [
        [
          {
            "node": "Extract relevant CSVs and turn into json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract relevant CSVs and turn into json": {
      "main": [
        [
          {
            "node": "Merge JSON from CSV with array to skip",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "PDF extract table from specific page - to CSV": {
      "main": [
        [
          {
            "node": "Unzip CSV files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge JSON from CSV with array to skip": {
      "main": [
        [
          {
            "node": "Determine records skipping redaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process PDF and report # of pages": {
      "main": [
        [
          {
            "node": "Create page numbers as object array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine records skipping redaction": {
      "main": [
        [
          {
            "node": "Loop Over Items - one at a time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items - one at a time": {
      "main": [
        [
          {
            "node": "Store Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PDF extract table from specific page - to CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IPF # into array": {
      "main": [
        [
          {
            "node": "Merge JSON from CSV with array to skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "e52ae2f9-79bd-4fb0-a2bd-b141ec423fdf",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-05-18T21:49:23.626Z",
      "createdAt": "2025-05-18T21:49:23.626Z",
      "role": "workflow:owner",
      "workflowId": "F3h0zEsnhM6G5XmQ",
      "projectId": "clSSaLQe9S7wj6ik"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-05-18T16:58:53.843Z",
      "createdAt": "2025-05-18T16:58:53.843Z",
      "id": "HnXUnfowm5GUgmjE",
      "name": "DEPRECATED"
    }
  ]
}