workflows/PDF Redaction Test 01.json
{
  "updatedAt": "2025-05-18T17:01:39.000Z",
  "createdAt": "2025-05-09T00:01:51.199Z",
  "id": "6zakXp8vDkRgom3h",
  "name": "PDF Redaction Test 01",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://stirlingPdf:8080/api/v1/security/redact",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "*/*"
            },
            {
              "name": "X-API-KEY",
              "value": "HiRA4Wq34tzym264ctW8Ljr4uNKngf"
            },
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "pageNumbers"
            },
            {
              "name": "redactions",
              "value": "[{\"x\":36,\"y\":225,\"height\":20,\"width\":542,\"page\":1,\"color\":\"#FFFFFF\"},{\"x\": 36,\"y\": 247,\"height\": 20,\"width\": 542,\"page\": 1,\"color\": \"#FFFFFF\"}]"
            },
            {
              "name": "convertPDFToImage",
              "value": "true"
            },
            {
              "name": "pageRedactionColor"
            },
            {
              "parameterType": "formBinaryData",
              "name": "fileInput",
              "inputDataFieldName": "attachment_0"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        -35
      ],
      "id": "794b6298-09d9-448f-bdaa-11c9ed74f685",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "has:attachment AND subject:TC2",
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -110
      ],
      "id": "e9375e62-f9d2-4d22-a9ee-9bf1ffe93d99",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "0NFfPoMyzmHZXN1Y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $('Code').item.json.newFileName }}.pdf",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1540,
        -35
      ],
      "id": "49325b47-ee83-4d69-87e0-ea0129695c37",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ADD3sUoYMnxIVoxo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2200,
        -135
      ],
      "id": "4b0cf6dd-b26f-45c2-be44-9e0fd3c08fe5",
      "name": "Gmail",
      "webhookId": "84970132-8aa0-479b-8527-82b1a24d33db",
      "credentials": {
        "gmailOAuth2": {
          "id": "0NFfPoMyzmHZXN1Y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (item of items) {\n  item.json.sequentialNumber = $input.first().json.Secuencia;\n  item.json.sequentialNumber++;\n  item.json.newFileName = \"PDF_Redacted_for_\" + $('Gmail Trigger').first().json.from.value[0].address + \"_\" + item.json.sequentialNumber\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        40
      ],
      "id": "0c06f50b-ecb0-4903-8889-221ec32fec5c",
      "name": "Code"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "base": {
          "__rl": true,
          "value": "appK3JSoBEYi1vLDU",
          "mode": "list",
          "cachedResultName": "Secuencia",
          "cachedResultUrl": "https://airtable.com/appK3JSoBEYi1vLDU"
        },
        "table": {
          "__rl": true,
          "value": "tbl0uTLslhE2KYEdx",
          "mode": "list",
          "cachedResultName": "Secuencia",
          "cachedResultUrl": "https://airtable.com/appK3JSoBEYi1vLDU/tbl0uTLslhE2KYEdx"
        },
        "id": "recgSPSwhV6xbOyYx",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        440,
        40
      ],
      "id": "fc265081-2f0b-485d-bfaa-4b0596b86b84",
      "name": "Airtable",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "IB5q98xasbNHrqfC",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appK3JSoBEYi1vLDU",
          "mode": "list",
          "cachedResultName": "Secuencia",
          "cachedResultUrl": "https://airtable.com/appK3JSoBEYi1vLDU"
        },
        "table": {
          "__rl": true,
          "value": "tbl0uTLslhE2KYEdx",
          "mode": "list",
          "cachedResultName": "Secuencia",
          "cachedResultUrl": "https://airtable.com/appK3JSoBEYi1vLDU/tbl0uTLslhE2KYEdx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Secuencia": "={{ $json.sequentialNumber }}",
            "id": "recgSPSwhV6xbOyYx"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Secuencia",
              "displayName": "Secuencia",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        880,
        40
      ],
      "id": "b4386372-9b6e-47ce-b9d7-6e7db6f55bd6",
      "name": "Airtable1",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "IB5q98xasbNHrqfC",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
        "subject": "Your redacted TC2 pdf is attached!",
        "message": "Redaction of your TC2 attached!",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "=data"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1980,
        -35
      ],
      "id": "fd3955aa-ddc9-4ee4-b501-07ef78f4b950",
      "name": "Gmail1",
      "webhookId": "66a6bd91-c922-4a9c-83b2-17e7d20df71a",
      "credentials": {
        "gmailOAuth2": {
          "id": "0NFfPoMyzmHZXN1Y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1100,
        -35
      ],
      "id": "e8000517-d3f9-4155-ada3-3570fb51807b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a7411825-ab1c-4d7e-97c5-e8d174d36dd2",
              "leftValue": "={{ $binary.attachment_0.fileName }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        -110
      ],
      "id": "f39ae80a-2abe-487d-9dc6-66e329b737e6",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}",
        "subject": "ERROR: wrong file type",
        "message": "Sorry, but the file you attached to your email was not a PDF; please resend with the correct file, thank you.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1980,
        -260
      ],
      "id": "c6c18805-00d8-4117-9267-e96d71495d8e",
      "name": "Gmail2",
      "webhookId": "66a6bd91-c922-4a9c-83b2-17e7d20df71a",
      "credentials": {
        "gmailOAuth2": {
          "id": "0NFfPoMyzmHZXN1Y",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1760,
        -35
      ],
      "id": "da8cf7a3-5d84-40d2-a867-cc48a6f6a410",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ADD3sUoYMnxIVoxo",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "Checks for new, unread mail, with \"TC2\" in subject, and attachment",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        60
      ],
      "typeVersion": 1,
      "id": "5035a64c-0732-465d-bc09-4ea57b32027e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Marks email as \"read\" so won't be processed again, and flow exits",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2200,
        -240
      ],
      "typeVersion": 1,
      "id": "d6c2638b-0ea7-401d-91ed-f6a11c584dd1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Reads the last sequence number used",
        "height": 100,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        420,
        200
      ],
      "typeVersion": 1,
      "id": "348a4f8d-9780-4b20-bf18-afcc69c97374",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Adds 1 to the sequence and build new filename for later renaming",
        "height": 100,
        "width": 160
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        200
      ],
      "typeVersion": 1,
      "id": "e858217a-7493-44df-a620-b390d37ee1d7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Records the new sequence number",
        "height": 100,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        200
      ],
      "typeVersion": 1,
      "id": "c735acb6-3393-4909-b937-ce0b9722ccad",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Checks if the attachment is a PDF",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        200,
        -220
      ],
      "typeVersion": 1,
      "id": "8c3bbb73-a098-4105-8057-e5aa7939561c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "If attachment is NOT a PDF, answer message to sender advising of the error",
        "height": 120,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1960,
        -400
      ],
      "typeVersion": 1,
      "id": "4f887f1a-08b3-4985-bd41-70318c6f6b32",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Waits for new filename AND confirmation that attachment IS a PDF",
        "height": 120,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1080,
        140
      ],
      "typeVersion": 1,
      "id": "21c8cdcf-f44d-4508-b372-4385dde496b0",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "PDF is processed by adding bands on Stirling service",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1300,
        140
      ],
      "typeVersion": 1,
      "id": "c2a2ed38-a61f-48ee-8ea7-019612fd15e9",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "Processed \nPDF is stored in GDrive with new filename",
        "height": 100,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        140
      ],
      "typeVersion": 1,
      "id": "594b2aae-19cd-4a57-8f30-e798a28a4af8",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "Processed and renamed \nPDF is retrieved from GDrive",
        "height": 100,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1740,
        140
      ],
      "typeVersion": 1,
      "id": "eca8d87d-084c-4330-8139-70a5647ae227",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Message is sent to sender confirming processing and attaching processsed and renamed PDF file.",
        "height": 180,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1980,
        140
      ],
      "typeVersion": 1,
      "id": "026668e2-becd-4fe2-9e5e-6447209686f8",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "This bit is necessary since there is no way to set a persistent variable which holds a value in separate runs of the flow; this way the value is stored externally and thus can be retrieved when needed in each run, and even by other flows if required.",
        "height": 100,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        440,
        320
      ],
      "typeVersion": 1,
      "id": "65712786-53de-4ea5-9a98-7a025b1c9b2c",
      "name": "Sticky Note12"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Gmail1": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail2": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1746861647,
        "possibleDuplicates": [
          "196b81a3aff80f0f"
        ]
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "27af0cf2-8989-4a5e-91b7-b05ccee36cf3",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-05-09T00:01:51.232Z",
      "createdAt": "2025-05-09T00:01:51.232Z",
      "role": "workflow:owner",
      "workflowId": "6zakXp8vDkRgom3h",
      "projectId": "clSSaLQe9S7wj6ik"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-05-18T16:58:53.843Z",
      "createdAt": "2025-05-18T16:58:53.843Z",
      "id": "HnXUnfowm5GUgmjE",
      "name": "DEPRECATED"
    }
  ]
}