workflows/PunchBot.json
{
  "updatedAt": "2025-12-24T09:19:34.660Z",
  "createdAt": "2025-12-08T19:32:31.507Z",
  "id": "PncRtBsksM12cPzs",
  "name": "PunchBot",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "50 8 * * MON-FRI"
            },
            {
              "field": "cronExpression",
              "expression": "0 18 * * MON-FRI"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -16,
        176
      ],
      "id": "c63726a5-2d5f-43bb-b06e-b09cb51800fa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "function getRandomInt(min, max) {\n  min = Math.ceil(min); // Ensure min is an integer\n  max = Math.floor(max); // Ensure max is an integer\n  return Math.floor(Math.random() * (max - min + 1)) + min;\n}\n\n// Get a random integer between 1 and 10 (inclusive)\nlet randomInteger = getRandomInt(1, 12);\nconsole.log(randomInteger);\nreturn [{\n      \"Delay\": randomInteger\n    }\n  ]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        176
      ],
      "id": "1d4f1f71-66b5-451f-aa3d-4c137f6392fe",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "amount": "={{ $json.Delay }}",
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        432,
        176
      ],
      "id": "7fb23bc6-7927-44e9-afbf-bfd84dd1a1b3",
      "name": "Wait",
      "webhookId": "ffc847b9-13c3-44fb-a1a6-2811e06eacae"
    },
    {
      "parameters": {
        "url": "https://company.gotimecloud.com/api/v1/login",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "company",
              "value": "cos"
            },
            {
              "name": "username",
              "value": "50783ea4d01d8303d472f89378cb3e41637e4427a2496406d0a26afd8756edc4"
            },
            {
              "name": "password",
              "value": "e0b95eca6ba4a20cae14b5de0640ebb82440e5a6a0c10c331dfe598b7d27681a"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Cookie",
              "value": "PHPSESSID=kn7peku1hn5c3m9nv7kakiqumj"
            },
            {
              "name": "cookie",
              "value": "PHPSESSID=kn7peku1hn5c3m9nv7kakiqumj;"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1776,
        272
      ],
      "id": "9f2a4aef-7ac9-4725-b184-88e01bc2f1ea",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        880,
        -144
      ],
      "id": "4df55ce8-ff5b-4beb-8a96-82b9807b5eb3",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "yyyyMMdd",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1776,
        -400
      ],
      "id": "0524b423-07b8-4d4e-b849-828ccd420702",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Date & Time').item.json.currentDate }}",
        "format": "custom",
        "customFormat": "HHmmss",
        "outputFieldName": "formattedTime",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1104,
        -48
      ],
      "id": "b6098b0b-e95f-4e2e-8cbd-f18f4f668671",
      "name": "Date & Time2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "52f3cbe7-0667-4d4c-84ac-56142cc9d10f",
              "leftValue": "={{ $json.formattedTime }}",
              "rightValue": 120000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1552,
        -112
      ],
      "id": "5a927a47-0b18-4874-a3c4-1b20ae1f3e88",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "570d1e4b-7bc4-414d-8b78-66d6893554d8",
              "name": "punchEvent",
              "value": "0007",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        -208
      ],
      "id": "078297e8-7744-4480-8c03-f30f57aedf83",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d027cc7d-27cc-421b-bed0-b91dc9e4d2f3",
              "name": "punchEvent",
              "value": "0000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        -16
      ],
      "id": "476ab2cb-c146-4a5f-8560-d93a6eaa3c81",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1eaf0e0d-1c37-4eec-953c-f5a1961edcfc",
              "name": "formattedTime",
              "value": "={{ $json.formattedTime }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1328,
        -112
      ],
      "id": "08e50df1-5dd4-489d-aea0-65adea9b6b60",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://company.gotimecloud.com/api/v1/punches",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.data.token }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "PHPSESSID=kn7peku1hn5c3m9nv7kakiqumj"
            },
            {
              "name": "cookie",
              "value": "PHPSESSID=kn7peku1hn5c3m9nv7kakiqumj;"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [\n    {\n      \"employee\": \"000007208\",\n      \"date\": \"{{ $json.formattedDate }}\",\n      \"time\": \"{{ $json.formattedTime }}\",\n      \"event\": \"{{ $json.punchEvent }}\",\n      \"device\": \"MVL\",\n      \"utc\": 1,\n      \"mask\": true,\n      \"temp\": {{ $json.current.temperature_2m }},\n      \"geolocation\": {\n        \"latitude\": 40.61013515861408,\n        \"longitude\": -3.695629043326065\n      }\n    }\n  ]\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2224,
        64
      ],
      "id": "e977fa7e-b62e-43f1-aa2d-e90af7332ecf",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2000,
        16
      ],
      "id": "7496fcb0-4378-4d45-ab79-37ccc2a285cb",
      "name": "Merge",
      "executeOnce": false
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "latitude",
              "value": "40.61013515861408"
            },
            {
              "name": "longitude",
              "value": "-3.695629043326065"
            },
            {
              "name": "current",
              "value": "temperature_2m"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1776,
        464
      ],
      "id": "b755852e-b0d9-4b6a-aca7-330ef39f89e5",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "userKey": "uQGgXpAURK5byAVkkZkNQ1vDjxeTqL",
        "message": "=Fichaje realizado a las {{ $('Merge').item.json.formattedTime }}",
        "priority": 0,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.pushover",
      "typeVersion": 1,
      "position": [
        2448,
        64
      ],
      "id": "96c41f8d-776d-4dfe-8bce-28cdf5233a1c",
      "name": "Push a message",
      "credentials": {
        "pushoverApi": {
          "id": "3KC6ER01C6OxLPFm",
          "name": "Nick's Pushover account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        656,
        272
      ],
      "id": "fab4f155-ce25-4996-b3cc-46688dc074b8",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        432,
        368
      ],
      "id": "b631d816-dd28-44ab-b053-d49860b9331a",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Push a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0654b670-1155-4ebd-9932-f29b7b54ed3a",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-08T19:32:31.544Z",
      "createdAt": "2025-12-08T19:32:31.544Z",
      "role": "workflow:owner",
      "workflowId": "PncRtBsksM12cPzs",
      "projectId": "clSSaLQe9S7wj6ik"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2025-06-01T11:16:21.286Z",
      "createdAt": "2025-06-01T11:16:21.286Z",
      "id": "5QPMinZ9SrSvf2Tp",
      "name": "STABLE"
    },
    {
      "updatedAt": "2025-05-18T16:58:53.843Z",
      "createdAt": "2025-05-18T16:58:53.843Z",
      "id": "HnXUnfowm5GUgmjE",
      "name": "DEPRECATED"
    },
    {
      "updatedAt": "2025-12-11T16:57:50.687Z",
      "createdAt": "2025-12-11T16:57:50.687Z",
      "id": "Lq79i8dweIU6nUfE",
      "name": "PRODUCTION"
    }
  ]
}